h2 {
	margin: 0;
	padding: 0;
	border: 0;
	color: black;
	background: white;
	text-align: left;
	text-transform: none;
	letter-spacing: 0px;
	margin-left:10px;
	font-size:150%;
}

#statusformdiv {
	background: white;
	border: 0;
}

.metatext {
	font-size:90%;
	color: black;
	margin-left:60px;
	font-style:italic;
}

table .metatable {
	border: 0px;
	margin-bottom:0px;
}

.name a {
	color:black;
	font-weight:bold;
	font-style:normal;
}

.text {
	font-family: "Georgia", serif;
}

#nav {
	text-align:center;
	font-family: "Georgia", serif;
	font-size: 100%;
}


.avatar {
	position:relative;
	top: -20px;
}
