h2 {
	font-size:80%;
}

#statusformdiv {
	padding:8px 14px 8px 14px;
}

p {
	font-family:"Lucida Grande","Helvetica","Trebuchet MS",sans-serif;
}

.tweettext {
	font-size:80%;
	font-family:"Lucida Grande","Helvetica","Trebuchet MS",sans-serif;
}