html, body {
	margin:0px;
	padding:0px;
	font-family:"Ubuntu","Lucida Grande","Helvetica","Trebuchet MS",sans-serif;
	font-size:90%;
}

#page {
	max-height: 100%;
}

div.centredbluebox {
    width:500px;
    margin: 50px auto 20px auto;
    background: #7aa5d9;
    padding: 30px;
    border: 3px solid #4e8cd9;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px; 
    text-align: center;    
}

div.centredgreybox {
    width:500px;
    margin: 50px auto 20px auto;
    background: #eeeeee;
    padding: 30px;
    border: 3px solid #dddddd;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px; 
    text-align: center;
}

div.centredredbox {
    width:500px;
    margin: 50px auto 20px auto;
    background: #eebbbb;
    padding: 30px;
    border: 3px solid #ddaaaa;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px; 
    text-align: center;
}

div.links {
    position:relative;
    left:-5px;
    top: 10px;
	margin:0px;
	padding:0px;
	float:right;
}

div#addcolumndiv {
    clear:both;
	float:right;
	position:relative;
	left:5px;
	top:8px;
	margin:0;
	padding:0;
}

#statusformdiv {
    height:66px;
	padding:10px;
}

div#serviceselectors {
    float:left;
    padding-top:8px;
}

div#serviceselectors img {
    position:relative;
    top:2px;
}

input.accountSelector {
    display:none;
}

a.accountselector span {
	position:relative;
	top:2px;
}

input#status {
	width:70%;
	height:20px;
	float:left;
	padding:3px;
	font-size:14px;
}

input#reply {
	width:80%;
	height:20px;
	float:left;
	padding:3px;
	font-size:14px;
}

span.counter {
    position:relative;
    left:-100px;
    top:32px;
    font-weight:bold;
	font-size:21px;
}

span.replycounter {
    position:relative;
    top:6px;
    font-weight:bold;
	font-size:21px;
}

div#mainarea {
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
    padding:0;
}

div.column {
    margin:0px;
	height: 100%;
    overflow-y: auto;
}

div.columnheading {
	min-height:40px;
	padding-left:10px;
	text-align:left;
	font-size: 110%;
	font-weight:bold;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

div.columnheading span.title {
    float:left;
    position:relative;
    top:2px;
	text-decoration:none;
    overflow-x: auto;
    overflow-y: auto;
}

div.columnheading span.title span.accountname {
    font-weight:lighter;
}

div.columnheading img {
    float:left;
    position:relative;
    top:11px;
}

div.columnheading span.columnbuttons {
    float:right;
    position:relative;
    top:5px;
}

div.error {
	padding: 10px;
	margin-bottom:10px;
}
div.error img {
	margin: 5px auto 0px auto;
}

div.morelessform {
    float:right;
}

div.columnheading span.columnbuttons a.deletecolumnbutton {
    display:none;
}

div.columnnav {
    clear:both;
    display:none;
    margin: 10px 0px;
    padding: 10px 0px;
}

.item {
    padding:5px;
	margin:15px 15px 35px 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.convo {
	margin:15px 15px 0px 15px;
}

span.metatext {
	display:none;
	width:100%;
}

table {
	margin:0px;
}

table.bigtable {
	margin-top:5px;
}

div#replybox {
    padding:10px 10px 20px 10px;
    margin:0;
	height:30px;
}
    
tr {
	margin: 0px;
	padding: 0px;
}

td {
	vertical-align: top;
	margin: 0px;
	padding: 0px;
}

td .tweettextcell {
	padding-left: 5px;
}

.name a{
	text-decoration:none;
}

.convolikearea a {
	text-decoration:none;
}

.tweettext a {
	text-decoration:none;
}

.metatext a {
	text-decoration:none;
}

.tweettext a.hover {
	text-decoration:underline;
}

.metatext a.hover {
	text-decoration:underline;
}

.clear {
	clear:both;
}

div.colswitcherform {
	text-align:center;
	width:100%;
	text-transform: none;
	font-size:80%;
}

div.colswitcherform a {
	padding:0 3px 1px 3px;
	border-radius:2px;
	--moz-border-radius:2px;
    --webkit-border-radius:2px;
	text-decoration:none;
}

img {
	border:0px;
}

div.settingsheader {
	padding:5px;
	margin:0;
	background-color:#ff0000;
}

div.settingscontent {
	padding:20px;
}

div.manageaccountbuttons {
	float:right;
	text-align:right;
	padding-left:20px;
}

div.account {
	margin-left:10px;
	margin-right:10px;
	padding:10px;
	margin-bottom:5px;
	width:300px;
}

textarea#blocklist {
    width:90%;
}

p.setBannedPhrases {
	height:20px;
}

a#setBannedPhrases {
	float:right;
}

a.button,
a.icon {
    text-decoration: none;
    font: bold 12px Helvetica, Arial, sans-serif;
    line-height: 27px;
    height: 27px;
    display: block;
    float: left;
    margin-right: 10px;
    padding: 0 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#ffffff')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#ffffff');
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    cursor:default;
}
a.icon {
    padding: 0;
    margin-bottom: 10px;
}
a.icon span {
    display: block;
    line-height: 27px;
    height: 27px;
    width: 36px;
    max-width: 36px;
    overflow: hidden;
    text-indent: -9999px;
}
a.left {
    margin: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
}
a.middle {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    margin: 0;
}
a.right {
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
}

a.icon1 span {background:url(button-icons.png) -0px -40px;}
a.icon2 span {background:url(button-icons.png) -36px -40px;}
a.icon3 span {background:url(button-icons.png) -72px -40px;}
a.icon4 span {background:url(button-icons.png) -108px -40px;}
a.icon5 span {background:url(button-icons.png) -144px -40px;}
a.icon6 span {background:url(button-icons.png) -180px -40px;}
a.icon7 span {background:url(button-icons.png) -216px -40px;}
a.icon8 span {background:url(button-icons.png) -252px -40px;}
a.icon9 span {background:url(button-icons.png) -288px -40px;}
a.icon10 span {background:url(button-icons.png) -324px -40px;}
a.icon11 span {background:url(button-icons.png) -0px -76px;}
a.icon12 span {background:url(button-icons.png) -36px -76px;}
a.icon13 span {background:url(button-icons.png) -72px -76px;}
a.icon14 span {background:url(button-icons.png) -108px -76px;}
a.icon15 span {background:url(button-icons.png) -144px -76px;}
a.icon16 span {background:url(button-icons.png) -180px -76px;}
a.icon17 span {background:url(button-icons.png) -216px -76px;}
a.icon18 span {background:url(button-icons.png) -252px -76px;}
a.icon19 span {background:url(button-icons.png) -288px -76px;}
a.icon20 span {background:url(button-icons.png) -324px -76px;}
a.icon21 span {background:url(button-icons.png) -0px -112px;}
a.icon22 span {background:url(button-icons.png) -36px -112px;}
a.icon23 span {background:url(button-icons.png) -72px -112px;}
a.icon24 span {background:url(button-icons.png) -108px -112px;}
a.icon25 span {background:url(button-icons.png) -144px -112px;}
a.icon26 span {background:url(button-icons.png) -180px -112px;}
a.icon27 span {background:url(button-icons.png) -216px -112px;}
a.icon28 span {background:url(button-icons.png) -252px -112px;}
a.icon29 span {background:url(button-icons.png) -288px -112px;}
a.icon30 span {background:url(button-icons.png) -324px -112px;}
a.icon31 span {background:url(button-icons.png) -0px -148px;}
a.icon32 span {background:url(button-icons.png) -36px -148px;}
a.icon33 span {background:url(button-icons.png) -72px -148px;}
a.icon34 span {background:url(button-icons.png) -108px -148px;}
a.icon35 span {background:url(button-icons.png) -144px -148px;}
a.icon36 span {background:url(button-icons.png) -180px -148px;}
a.icon37 span {background:url(button-icons.png) -216px -148px;}
a.icon38 span {background:url(button-icons.png) -252px -148px;}
a.icon39 span {background:url(button-icons.png) -288px -148px;}
a.icon40 span {background:url(button-icons.png) -324px -148px;}
a.icon41 span {background:url(button-icons.png) -0px -184px;}
a.icon42 span {background:url(button-icons.png) -36px -184px;}
a.icon43 span {background:url(button-icons.png) -72px -184px;}
a.icon44 span {background:url(button-icons.png) -108px -184px;}
a.icon45 span {background:url(button-icons.png) -144px -184px;}
a.icon46 span {background:url(button-icons.png) -180px -184px;}
a.icon47 span {background:url(button-icons.png) -216px -184px;}
a.icon48 span {background:url(button-icons.png) -252px -184px;}
a.icon49 span {background:url(button-icons.png) -288px -184px;}
a.icon50 span {background:url(button-icons.png) -324px -184px;}
a.icon51 span {background:url(button-icons.png) -0px -220px;}
a.icon52 span {background:url(button-icons.png) -36px -220px;}
a.icon53 span {background:url(button-icons.png) -72px -220px;}
a.icon54 span {background:url(button-icons.png) -108px -220px;}
a.icon55 span {background:url(button-icons.png) -144px -220px;}
a.icon56 span {background:url(button-icons.png) -180px -220px;}
a.icon57 span {background:url(button-icons.png) -216px -220px;}
a.icon58 span {background:url(button-icons.png) -252px -220px;}
a.icon59 span {background:url(button-icons.png) -288px -220px;}
a.icon60 span {background:url(button-icons.png) -324px -220px;}
a.icon61 span {background:url(button-icons.png) -0px -256px;}
a.icon62 span {background:url(button-icons.png) -36px -256px;}
a.icon63 span {background:url(button-icons.png) -72px -256px;}
a.icon64 span {background:url(button-icons.png) -108px -256px;}
a.icon65 span {background:url(button-icons.png) -144px -256px;}
a.icon66 span {background:url(button-icons.png) -180px -256px;}
a.icon67 span {background:url(button-icons.png) -216px -256px;}
a.icon68 span {background:url(button-icons.png) -252px -256px;}
a.icon69 span {background:url(button-icons.png) -288px -256px;}
a.icon70 span {background:url(button-icons.png) -324px -256px;}
a.icon71 span {background:url(button-icons.png) -0px -292px;}
a.icon72 span {background:url(button-icons.png) -36px -292px;}
a.icon73 span {background:url(button-icons.png) -72px -292px;}
a.icon74 span {background:url(button-icons.png) -108px -292px;}
a.icon75 span {background:url(button-icons.png) -144px -292px;}
a.icon76 span {background:url(button-icons.png) -180px -292px;}
a.icon77 span {background:url(button-icons.png) -216px -292px;}
a.icon78 span {background:url(button-icons.png) -252px -292px;}
a.icon79 span {background:url(button-icons.png) -288px -292px;}
a.icon80 span {background:url(button-icons.png) -324px -292px;}
a.icon81 span {background:url(button-icons.png) -0px -328px;}
a.icon82 span {background:url(button-icons.png) -36px -328px;}
a.icon83 span {background:url(button-icons.png) -72px -328px;}
a.icon84 span {background:url(button-icons.png) -108px -328px;}
a.icon85 span {background:url(button-icons.png) -144px -328px;}
a.icon86 span {background:url(button-icons.png) -180px -328px;}
a.icon87 span {background:url(button-icons.png) -216px -328px;}
a.icon88 span {background:url(button-icons.png) -252px -328px;}
a.icon89 span {background:url(button-icons.png) -288px -328px;}
a.icon90 span {background:url(button-icons.png) -324px -328px;}
a.icon91 span {background:url(button-icons.png) -0px -364px;}
a.icon92 span {background:url(button-icons.png) -36px -364px;}
a.icon93 span {background:url(button-icons.png) -72px -364px;}
a.icon94 span {background:url(button-icons.png) -108px -364px;}
a.icon95 span {background:url(button-icons.png) -144px -364px;}
a.icon96 span {background:url(button-icons.png) -180px -364px;}
a.icon97 span {background:url(button-icons.png) -216px -364px;}
a.icon98 span {background:url(button-icons.png) -252px -364px;}
a.icon99 span {background:url(button-icons.png) -288px -364px;}
a.icon100 span {background:url(button-icons.png) -324px -364px;}
a.icon101 span {background:url(button-icons.png) -0px -400px;}
a.icon102 span {background:url(button-icons.png) -36px -400px;}
a.icon103 span {background:url(button-icons.png) -72px -400px;}
a.icon104 span {background:url(button-icons.png) -108px -400px;}
a.icon105 span {background:url(button-icons.png) -144px -400px;}
a.icon106 span {background:url(button-icons.png) -180px -400px;}
a.icon107 span {background:url(button-icons.png) -216px -400px;}
a.icon108 span {background:url(button-icons.png) -252px -400px;}
a.icon109 span {background:url(button-icons.png) -288px -400px;}
a.icon110 span {background:url(button-icons.png) -324px -400px;}
a.icon111 span {background:url(button-icons.png) -0px -436px;}
a.icon112 span {background:url(button-icons.png) -36px -436px;}
a.icon113 span {background:url(button-icons.png) -72px -436px;}
a.icon114 span {background:url(button-icons.png) -108px -436px;}
a.icon115 span {background:url(button-icons.png) -144px -436px;}
a.icon116 span {background:url(button-icons.png) -180px -436px;}
a.icon117 span {background:url(button-icons.png) -216px -436px;}
a.icon118 span {background:url(button-icons.png) -252px -436px;}
a.icon119 span {background:url(button-icons.png) -288px -436px;}
a.icon120 span {background:url(button-icons.png) -324px -436px;}
a.icon121 span {background:url(button-icons.png) -0px -472px;}
a.icon122 span {background:url(button-icons.png) -36px -472px;}
a.icon123 span {background:url(button-icons.png) -72px -472px;}
a.icon124 span {background:url(button-icons.png) -108px -472px;}
a.icon125 span {background:url(button-icons.png) -144px -472px;}
a.icon126 span {background:url(button-icons.png) -180px -472px;}
a.icon127 span {background:url(button-icons.png) -216px -472px;}
a.icon128 span {background:url(button-icons.png) -252px -472px;}
a.icon129 span {background:url(button-icons.png) -288px -472px;}
a.icon130 span {background:url(button-icons.png) -324px -472px;}
a.icon131 span {background:url(button-icons.png) -0px -508px;}
a.icon132 span {background:url(button-icons.png) -36px -508px;}
a.icon133 span {background:url(button-icons.png) -72px -508px;}
a.icon134 span {background:url(button-icons.png) -108px -508px;}
a.icon135 span {background:url(button-icons.png) -144px -508px;}
a.icon136 span {background:url(button-icons.png) -180px -508px;}
a.icon137 span {background:url(button-icons.png) -216px -508px;}
a.icon138 span {background:url(button-icons.png) -252px -508px;}
a.icon139 span {background:url(button-icons.png) -288px -508px;}
a.icon140 span {background:url(button-icons.png) -324px -508px;}
a.icon141 span {background:url(button-icons.png) -0px -544px;}
a.icon142 span {background:url(button-icons.png) -36px -544px;}
a.icon143 span {background:url(button-icons.png) -72px -544px;}
a.icon144 span {background:url(button-icons.png) -108px -544px;}
a.icon145 span {background:url(button-icons.png) -144px -544px;}
a.icon146 span {background:url(button-icons.png) -180px -544px;}
a.icon147 span {background:url(button-icons.png) -216px -544px;}
a.icon148 span {background:url(button-icons.png) -252px -544px;}
a.icon149 span {background:url(button-icons.png) -288px -544px;}
a.icon150 span {background:url(button-icons.png) -324px -544px;}
a.icon151 span {background:url(button-icons.png) -0px -580px;}
a.icon152 span {background:url(button-icons.png) -36px -580px;}
a.icon153 span {background:url(button-icons.png) -72px -580px;}
a.icon154 span {background:url(button-icons.png) -108px -580px;}
a.icon155 span {background:url(button-icons.png) -144px -580px;}
a.icon156 span {background:url(button-icons.png) -180px -580px;}
a.icon157 span {background:url(button-icons.png) -216px -580px;}
a.icon158 span {background:url(button-icons.png) -252px -580px;}
a.icon159 span {background:url(button-icons.png) -288px -580px;}
a.icon160 span {background:url(button-icons.png) -324px -580px;}
a.icon161 span {background:url(button-icons.png) -0px -616px;}
a.icon162 span {background:url(button-icons.png) -36px -616px;}
a.icon163 span {background:url(button-icons.png) -72px -616px;}
a.icon164 span {background:url(button-icons.png) -108px -616px;}
a.icon165 span {background:url(button-icons.png) -144px -616px;}
a.icon166 span {background:url(button-icons.png) -180px -616px;}
a.icon167 span {background:url(button-icons.png) -216px -616px;}
a.icon168 span {background:url(button-icons.png) -252px -616px;}
a.icon169 span {background:url(button-icons.png) -288px -616px;}
a.icon170 span {background:url(button-icons.png) -324px -616px;}
a.icon171 span {background:url(button-icons.png) -0px -652px;}
a.icon172 span {background:url(button-icons.png) -36px -652px;}
a.icon173 span {background:url(button-icons.png) -72px -652px;}
a.icon174 span {background:url(button-icons.png) -108px -652px;}
a.icon175 span {background:url(button-icons.png) -144px -652px;}
a.icon176 span {background:url(button-icons.png) -180px -652px;}
a.icon177 span {background:url(button-icons.png) -216px -652px;}
a.icon178 span {background:url(button-icons.png) -252px -652px;}
a.icon179 span {background:url(button-icons.png) -288px -652px;}
a.icon180 span {background:url(button-icons.png) -324px -652px;}
a.icon181 span {background:url(button-icons.png) -0px -688px;}
a.icon182 span {background:url(button-icons.png) -36px -688px;}
a.icon183 span {background:url(button-icons.png) -72px -688px;}
a.icon184 span {background:url(button-icons.png) -108px -688px;}
a.icon185 span {background:url(button-icons.png) -144px -688px;}
a.icon186 span {background:url(button-icons.png) -180px -688px;}
a.icon187 span {background:url(button-icons.png) -216px -688px;}
a.icon188 span {background:url(button-icons.png) -252px -688px;}
a.icon189 span {background:url(button-icons.png) -288px -688px;}
a.icon190 span {background:url(button-icons.png) -324px -688px;}
a.icon191 span {background:url(button-icons.png) -0px -724px;}
a.icon192 span {background:url(button-icons.png) -36px -724px;}
a.icon193 span {background:url(button-icons.png) -72px -724px;}
a.icon194 span {background:url(button-icons.png) -108px -724px;}
a.icon195 span {background:url(button-icons.png) -144px -724px;}
a.icon196 span {background:url(button-icons.png) -180px -724px;}
a.icon197 span {background:url(button-icons.png) -216px -724px;}
a.icon198 span {background:url(button-icons.png) -252px -724px;}
a.icon199 span {background:url(button-icons.png) -288px -724px;}
a.icon200 span {background:url(button-icons.png) -324px -724px;}



div.manageaccountbuttons a {
	position:relative;
	top:-7px;
	left:5px;
}

/*
------------------------------
	Impromptu
------------------------------
*/
.jqifade{
	position: absolute; 
}
div.jqi{ 
	width: 200px; 
	position: absolute;
	text-align: left;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 7px;
}
div.jqi .jqicontainer{
}
div.jqi .jqiclose{ 
	display:none;
}
div.jqi .jqimessage{ 
	padding: 10px; 
	line-height: 20px;
}
div.jqi .jqibuttons{ 
	text-align: right; 
	padding: 5px 0 5px 0;
}
