html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #eeeeee;
  font-weight: 100;
}

div#header {
  min-height: 4em;
  width: 100%;
  position: fixed;
  z-index: 10;
  background: #f8f8f8;
  border-bottom: 1px solid #888888;
}

div#header h2 {
  margin-left: 1em;
  color: #4096ee;
}

div#topmenu {
  float:right;
  position: relative;
  z-index: 10;
  display:inline-block;
  margin-top: 1em;
  padding: 0;
}

.topmenuitem {
  margin: 0 1em 0 0;
}

div#main {
  width: 80%;
  margin: 0 auto 2em auto;
  padding: 1em;
  position: relative;
  top: 6em;
  background-color: white;
  border: 1px solid gray;
}

div#main h2 {
  margin: 0.5em 0;
  font-weight: 100;
  font-size: 2em;
}

div#main a {
  color: #4096ee;
  text-decoration: none;
}

.button {
	text-indent:0;
	padding: 0 0.5em 0;
	display:inline-block;
	height:35px !important;
	line-height:40px !important;
	text-decoration:none;
	text-align:center;
	cursor: pointer;
  -moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) ) !important;
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5') !important;
	background-color:#79bbff !important;
	border:1px solid #84bbf3;
	color:#ffffff !important;
	text-shadow:1px 1px 0px #528ecc;
}
.button:active {
	position:relative;
	top:1px;
}

div.clear {
  clear:both;
}
