html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #eeeeee;
  font-weight: 100;
}

/* Left-right split on landscape screens, up-down split on portrait screens*/
@media only screen 
and (min-device-width : 768px)
and (orientation : landscape) {
  div#part1 {
    float:left;
    width: 45%;
    padding: 1em;
  }
  div#part2 {
    float:right;
    width: 45%;
    padding: 1em;
  }
}

div#logodiv {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

div#logodiv img#logo {
  width: 50%;
}

div#logodiv h1 {
  text-align: center;
  font-weight: 100;
  font-size: 2em;
}

img#logo {
  width: 100%;
}

div#intro {
  width: 80%;
  margin: 0 auto;
  padding-left: 1em;
  font-weight: 300;
  font-size: 1em;
}

div#intro p.readmore {
  margin-top: 0.5em;
  text-align: right;
}


div#intro p.readmore a {
  color: #378de5;
}

form#auth {
  width: 100%;
  margin: 0 auto 1em auto;
  padding: 0;
  background-color: white;
  border: 1px solid #cccccc;
}

form#auth div.title {
  margin: 0;
  padding: 0.5em;
  background-color: #dddddd;
  border-bottom: 1px solid #cccccc;
}

form#auth div.title h2 {
  font-weight: 100;
  margin: 0;
}

form#auth div.content {
  margin: 0;
  padding: 0.5em;
}

form#login {
  width: 100%;
  margin: 0 auto 1em auto;
  padding: 0;
  background-color: white;
  border: 1px solid #cccccc;
  font-weight: 100;
}

form#login div.title {
  margin: 0;
  padding: 0.5em;
  background-color: #dddddd;
  border-bottom: 1px solid #cccccc;
}

form#login div.title h2 {
  font-weight: 100;
  margin: 0;
}

form#login div.content {
  margin: 0;
  padding: 0.5em;
}

form#login div.content p input.textbox {
  width: 8em;
}

div#serverstatus {
  width: 80%;
  margin: 0 auto;
  font-weight: 300;
  font-size: 0.7em;
  text-align: center;
}

div#serverstatus p {
  margin-top: 0;
}

div#serverstatus p.statusfailure {
  font-weight: bold;
  color: red;
}

div#loginerrorbox {
  margin: 0 0.5em 0.5em 0.5em;
  padding: 0.25em;
  background: #ffbbbb;
  color: black;
  border: 1px solid #ff0000;
  display: none;
}

div#footer {
  clear: both;
  padding: 4em 0 1em 0;
  text-align: center;
  font-size: 0.7em;
  color: #888888;
}

div#footer a {
  text-decoration: underline;
  color: #666666;
}

a.serviceauth {
  text-decoration: none;
}

a.serviceauth img.spinner {
  display: none;
}

a.loading img.spinner {
  display: inline;
}

.button {
	text-indent:0;
	padding: 0 0.5em 0;
	display:inline-block;
	height:35px !important;
	line-height:40px !important;
	text-decoration:none;
	text-align:center;
	cursor: pointer;
  -moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) ) !important;
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5') !important;
	background-color:#79bbff !important;
	border:1px solid #84bbf3;
	color:#ffffff !important;
	text-shadow:1px 1px 0px #528ecc;
  font-weight: 500;
}
.button:active {
	position:relative;
	top:1px;
}

div.headerbar {
	text-align:center;
  -moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) ) !important;
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5') !important;
	background-color:#79bbff !important;
	border:1px solid #378de5;
	color:black !important;
	font-weight: 500;
}

div.headerbar p {
  margin: 0.7em 0 0.5em;
}

div.headerbar p img.spinner {
  display: none;
}

div.loading p img.spinner {
  display: inline !important;
}

div.headerbar a {
  color: black;
}

div#firefoxinstallheader {
  display:none;
}

.modal {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba( 235, 235, 235, .8 )
              50% 50%
              no-repeat;
}

.modal .notice {
  margin: 2em 0 0 0;
  padding: 1em;
  background: rgba( 255, 255, 200, .9 );
  text-align: center;
  font-weight: 300;
  font-size: 1.5em;
}

div.clear {
  clear:both;
}
