/* Put your CSS here */
html, body {
 margin: 0;
 padding: 0;
 height: 100%;
 width: 100%;
}

body {
  display: table;
}

div#header {
  height: 4em;
  width: 100%;
  position: fixed;
  z-index: 10;
  background-color: #ffdddd;
}

div#columns {
  position: relative;
  top: 4em;
  overflow-x: auto;
  background-color: #ddddff;
}

div.column {
  float: left;
  display: inline-block;
  vertical-align:top;
  overflow: hidden;
  min-width: 300px;
  background-color: #ddffdd;
}
