html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #eeeeee;
  font-weight: 100;
}

/* Left-right split on landscape screens, up-down split on portrait screens*/
@media only screen 
and (min-device-width : 768px)
and (orientation : landscape) {
  div#part1 {
    float:left;
    width: 45%;
    padding: 1em;
  }
  div#part2 {
    float:right;
    width: 45%;
    padding: 1em;
  }
}

div#logodiv {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

div#logodiv img#logo {
  width: 50%;
}

div#logodiv h1 {
  text-align: center;
  font-weight: 100;
  font-size: 2em;
}

img#logo {
  width: 100%;
}

div#intro {
  width: 80%;
  margin: 0 auto;
  padding-left: 1em;
  font-weight: 300;
  font-size: 1em;
}

form#auth {
  width: 100%;
  margin: 0 auto 1em auto;
  padding: 0;
  background-color: white;
  border: 1px solid #cccccc;
}

form#auth div.title {
  margin: 0;
  padding: 0.5em;
  background-color: #dddddd;
  border-bottom: 1px solid #cccccc;
}

form#auth div.title h2 {
  font-weight: 100;
  margin: 0;
}

form#auth div.content {
  margin: 0;
  padding: 0.5em;
}

form#login {
  width: 100%;
  margin: 0 auto 1em auto;
  padding: 0;
  background-color: white;
  border: 1px solid #cccccc;
  font-weight: 100;
}

form#login div.title {
  margin: 0;
  padding: 0.5em;
  background-color: #dddddd;
  border-bottom: 1px solid #cccccc;
}

form#login div.title h2 {
  font-weight: 100;
  margin: 0;
}

form#login div.content {
  margin: 0;
  padding: 0.5em;
}

form#login div.content p input.textbox {
  width: 8em;
}

div#serverstatus {
  width: 80%;
  margin: 0 auto;
  font-weight: 300;
  font-size: 0.7em;
  text-align: center;
}

div#serverstatus p {
  margin-top: 0;
}

div#serverstatus p.statusfailure {
  font-weight: bold;
  color: red;
}

div#loginerrorbox {
  margin: 0 0.5em 0.5em 0.5em;
  padding: 0.25em;
  background: #ffbbbb;
  color: black;
  border: 1px solid #ff0000;
  display: none;
}

a.serviceauth {
  text-decoration: none;
}

a.serviceauth img.spinner {
  display: none;
}

a.loading img.spinner {
  display: inline;
}

.modal {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba( 235, 235, 235, .8 )
              50% 50%
              no-repeat;
}

.modal .notice {
  margin: 2em 0 0 0;
  padding: 1em;
  background: rgba( 255, 255, 200, .9 );
  text-align: center;
  font-weight: 300;
  font-size: 1.5em;
}

div.clear {
  clear:both;
}
