html, body {
	background-color:#292929;
}

div#headerplusstatusform {
	background: #393939;
    background: -moz-linear-gradient(top, #666666, #393939);
    background: -webkit-gradient(linear,
                left top, left bottom, from(#666666), to(#393939));
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#666666', EndColorStr='#393939', GradientType=0);
}

span.counter {
    color:#666;
}

div.columnheading {
	color:#888888;
	background: #313131;
    background: -moz-linear-gradient(top, #393939, #313131);
    background: -webkit-gradient(linear,
                left top, left bottom, from(#393939), to(#313131));
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#393939', EndColorStr='#313131', GradientType=0);
}

div.columnheading span.title {
	color:#888888;
}

div.columnheading span.title span.accountname {
    color:#666666;
}

.text {
	color:#888888;
}

.metatext {
	color:#888888;
}

div.convoarea {
    background-color:#313131;
    background: -moz-linear-gradient(top, #222222, #313131);
    background: -webkit-gradient(linear,
                left top, left bottom, from(#222222), to(#313131));
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#222222', EndColorStr='#313131', GradientType=0);
    border-bottom: 1px solid #666666;
}

div#replybox {
    background-color:#313131;
    color:#888888;
}

.tweettext a {
	color:#0099b9;
}

.convolikearea a {
	color:#395a9d;
}

.metatext a {
	color:#0099b9;
}

div.colswitcherform a {
	color:#666666;
	border: 1px solid #666666;
}

a.button,
a.icon {
    color: #aaaaaa;
    text-shadow: 0 1px 0 #000;
    background: #444444;
    background: -webkit-linear-gradient(top, #444444, #222222);
    background: -moz-linear-gradient(top, #444444, #222222);
    background: -ms-linear-gradient(top, #444444, #222222);
    background: -o-linear-gradient(top, #444444, #222222);
    border: solid 1px #000;
}
a.button:hover,
a.icon:hover {
    border: solid 1px #222;
    color: #aaaaaa;
    background: -webkit-linear-gradient(top, #666666, #444444);
    background: -moz-linear-gradient(top, #666666, #444444);
    background: -ms-linear-gradient(top, #666666, #444444);
    background: -o-linear-gradient(top, #666666, #444444);
}
a.button:active,
a.icon:active {
    border: solid 1px #222;
    background: #555555;
    background: -webkit-gradient(linear, left top, left bottom, from(#555555), color-stop(0.15, #666666), to(#777777));
    background: -webkit-linear-gradient(top, #555555, #666666 15%, #777777);
    background: -moz-linear-gradient(top, #555555, #666666 15%, #777777);
    background: -ms-linear-gradient(top, #555555, #666666 15%, #777777);
    background: -o-linear-gradient(top, #555555, #666666 15%, #777777);
}
a.pressed {
    border: solid 1px #222;
    background: #338833;
    background: -webkit-gradient(linear, left top, left bottom, from(#338833), color-stop(0.15, #449944), to(#55aa55));
    background: -webkit-linear-gradient(top, #338833, #449944 15%, #55aa55);
    background: -moz-linear-gradient(top, #338833, #449944 15%, #55aa55);
    background: -ms-linear-gradient(top, #338833, #449944 15%, #55aa55);
    background: -o-linear-gradient(top, #338833, #449944 15%, #55aa55);
}

a.left {
    border-right: solid 1px #222;
}
a.middle {
    border-left: solid 1px rgba(40, 40, 40, 0);
    border-right: solid 1px #222;
}
a.middle:hover,
a.right:hover { border-left: solid 1px #333 }
a.middle:active,
a.right:active { border-left: solid 1px #444 }
a.right {
    border-left: solid 1px rgba(40, 40, 40, 0);
}

.jqifade{
	background-color: #111111; 
}
div.jqi{
	background: #393939;
    background: -moz-linear-gradient(top, #666666, #393939);
    background: -webkit-gradient(linear,
                left top, left bottom, from(#666666), to(#393939));
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#666666', EndColorStr='#393939', GradientType=0);
}
div.jqi .jqimessage{ 
	color: #bbbbbb; 
}