html, body {
  background-color: white;
}

div#header {
  background: #f8f8f8;
  border-bottom: 1px solid #888888;
}

div#header h2 {
  color: #4096ee;
}

div#topmenu a {
  background: #8888ff;
  color: white;
  text-decoration: none;
}

textarea#postentry {
  background-color: white;
  color: black;
}

span#postbutton {
  background: #5b5bff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

span#postbutton a {
  color: white;
  text-decoration: none;
}

span#posttoaccountsbutton {
  background: #8888ff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

span#posttoaccountsbutton a {
  color: white;
  text-decoration: none;
}

span#attachbutton a {
  color: #222222;
  text-decoration: none;
}

span.charcount {
  color: gray;
  font-weight: bold;
}

.gpopover {
  background: #cccccc;
  color: black;
}

.gpopover .gpopover-arrow {
  border-bottom-color: #cccccc;
}

.gpopover .gpopover-arrow-shadow {
    border-bottom-color: #cccccc;
}

div.columnloading {
  background: #ffffff
                url('../../img/loading-small.gif')
                100% 100%
                no-repeat;
}

h4.columnheading {
  color: black;
}

div.item {
  background-color: white;
  font-weight: 100;
}

div.item a {
  color: #4096ee;
  text-decoration: none;
}

div.item-new {
  border: 1px solid #aaaaaa;
}

div.item-text {
  color: #333333;
}

div.item-text a {
  color: #4096ee;
  text-decoration: none;
}


div.item-actions {
  color: #aaaaaa;
}

div.item-actions ul.actionlist li a.actionbutton:hover {
  color: #4096ee;
}

div.item form {
  color: black;
}

div.draggablebox {
  background-color: #eeeeee;
  border: 1px solid gray;
}

div.draggablebox p.title {
  color: gray;
  size: 1.2em;
  font-weight: bold;
}

.threadloading {
    background: rgba( 255, 255, 255, .8 )
                url('../../img/loading.gif')
                50% 50%
                no-repeat;
}

div.threaditem-text a {
  color: #4096ee;
  text-decoration: none;
}

textarea.replyentry {
  background-color: white;
}

span.replycharcount {
  color: gray;
  font-weight: bold;
}

.button {
	background-color:#79bbff !important;
	border:1px solid #84bbf3;
	color:#ffffff !important;
}

.deletebutton {
	background-color:#f24537 !important;
	border:1px solid #d02718;
	color:#ffffff !important;
}

div#errorbox {
  background: #ffbbbb;
  color: black;
  border: 1px solid #ff0000;
}

div#successbox {
  background: #bbffbb;
  color: black;
  border: 1px solid #00bb00;
}
