html, body {
	margin:0px;
	padding:0px;
	font-family:"Ubuntu","Lucida Grande","Helvetica","Trebuchet MS",sans-serif;
	font-size:90%;
}

#page {
	max-height: 100%;
}

div#headerplusstatusform {
	background: #0099b9;
    background: -moz-linear-gradient(top, #a7eae0, #0099b9);
    background: -webkit-gradient(linear,
                left top, left bottom, from(#a7eae0), to(#0099b9));
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#a7eae0', EndColorStr='#0099b9', GradientType=0);
}

#header {
	height:45px;
	width:100%;
	padding:0px;
	margin:0px;
}

div.links {
    position:relative;
    left:-30px;
	margin:0px;
	padding:4px 10px 8px 10px;
	background: #000000;
    background: -moz-linear-gradient(top, #333333, #000000);
    background: -webkit-gradient(linear,
                left top, left bottom, from(#333333), to(#000000));
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#333333', EndColorStr='#000000', GradientType=0);
	-webkit-border-bottom-right-radius: 16px;
	-webkit-border-bottom-left-radius: 16px;
	-moz-border-radius-bottomright: 16px;
	-moz-border-radius-bottomleft: 16px;
	border-bottom-right-radius: 16px;
	border-bottom-left-radius: 16px;
	float:right;
	font-family:"Lucida Grande","Helvetica","Trebuchet MS",sans-serif;
}

div.links ul {
	margin: 0px;
	padding: 0px;
	white-space: nowrap;
}

div.links li {
	list-style-type: none;
	padding:5px 15px 5px 15px;
	display: inline;
}

div.links a {
	color:white;
	text-decoration:none;
}

div.links a.hover {
	text-decoration:underline;
}

#statusformdiv {
    height:55px;
	padding:10px;
	/*background: white;*/
}

div#serviceselectors {
    margin-top:5px;
}

div#serviceselectors img {
    position:relative;
    top:2px;
}

input[name="status"] {
	width:70%;
}

input.reply {
	width:500px;
}

div#mainarea {
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
    padding:0;
}

div.column {
    margin:0px;
	height: 100%;
    overflow-y: auto;
    border: 1px solid #bbbbbb;
    background-color:#fafafa;
}

div.columnheading {
	color:#666666;
	padding:5px;
	text-align:center;
	text-transform: uppercase;
	font-size: 120%;
	background: #eeeeee;
    background: -moz-linear-gradient(top, #ffffff, #eeeeee);
    background: -webkit-gradient(linear,
                left top, left bottom, from(#ffffff), to(#eeeeee));
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#ffffff', EndColorStr='#eeeeee', GradientType=0);
    border-bottom: 1px solid #bbbbbb;
}

div.columnheading a {
	color:#666666;
	text-decoration:none;
}

div.columnheading a.boxedbutton {
    float:right;
    position:relative;
    top:-1px;
	color:#cccccc;
	border: 1px solid #cccccc;
	padding:0 3px 1px 3px;
	border-radius:2px;
	--moz-border-radius:2px;
    --webkit-border-radius:2px;
	text-decoration:none;
}

div.columnnav {
    display:none;
}

.text {
	margin:20px 20px 40px 20px;
	color:#888888;
}

div.reply {
	margin:10px 20px 10px 45px;
}

div.convohider {
    float:left;
    position:relative;
    left:4px;
}

.operations {
	display:none;
	float:right;
}

.operations a {
	color:#cccccc;
	border: 1px solid #cccccc;
	padding:0 3px 1px 3px;
	border-radius:2px;
	-moz-border-radius:2px;
    -webkit-border-radius:2px;
	text-decoration:none;
}

.metatext {
	display:none;
	color:#cccccc;
	width:100%;
}

table {
	margin:0px;
}

table.bigtable {
	margin-top:5px;
}

div.metatable {
	width:100%;
	padding:0px;
	/*border-bottom: 1px solid #cccccc;*/
	margin-bottom:3px;
	float:left;
	position:relative;
}

div.convoarea {
    display:none;
    margin-top:35px;
    margin-right:100px;
    width: 100%;
    background-color:#eeeeee;
    background: -moz-linear-gradient(top, #fafafa, #eeeeee);
    background: -webkit-gradient(linear,
                left top, left bottom, from(#fafafa), to(#eeeeee));
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#fafafa', EndColorStr='#eeeeee', GradientType=0);
    border-bottom: 1px solid #bbbbbb;
}

div#replybox {
    background-color:#eeeeee;
    color:#888888;
    padding:10px;
    margin:0;
    width:620px;
}
    
tr {
	margin: 0px;
	padding: 0px;
}

td {
	vertical-align: top;
	margin: 0px;
	padding: 0px;
}

td .tweettextcell {
	padding-left: 5px;
}

.name a{
	color:#cccccc;
	text-decoration:none;
}

.tweettext a {
	color:#0099b9;
	text-decoration:none;
}

.tweettext a.hover {
	text-decoration:underline;
}

.clear {
	clear:both;
}

div.backtotop {
	float:left;
}

div.colswitcherform {
	text-align:center;
	width:100%;
	text-transform: none;
	font-size:80%;
}

div.colswitcherform a {
	color:#cccccc;
	border: 1px solid #cccccc;
	padding:0 3px 1px 3px;
	border-radius:2px;
	--moz-border-radius:2px;
    --webkit-border-radius:2px;
	text-decoration:none;
}

img {
	border:0px;
}

#addcolumndiv {
	float:right;
	margin-right:15px;
	position:relative;
	top:40px;
}
