div#headerplusstatusform {
	background: #cccccc;
    background: -moz-linear-gradient(top, #cccccc, #aaaaaa);
    background: -webkit-gradient(linear,
                left top, left bottom, from(#cccccc), to(#aaaaaa));
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#cccccc', EndColorStr='#aaaaaa', GradientType=0);
}

span.counter {
    color:#666;
}

div.columnheading {
	color:#666666;
	background: #eeeeee;
    background: -moz-linear-gradient(top, #dddddd, #eeeeee);
    background: -webkit-gradient(linear,
                left top, left bottom, from(#dddddd), to(#eeeeee));
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#dddddd', EndColorStr='#eeeeee', GradientType=0);
}

div.columnheading span.title {
	color:#666666;
}

div.columnheading span.title span.accountname {
    color:#888888;
}

.text {
	color:#888888;
}

.metatext {
	color:#888888;
}

div.convoarea {
    background-color:#eeeeee;
    background: -moz-linear-gradient(top, #f0f0f0, #eeeeee);
    background: -webkit-gradient(linear,
                left top, left bottom, from(#f0f0f0), to(#eeeeee));
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#f0f0f0', EndColorStr='#eeeeee', GradientType=0);
    border-bottom: 1px solid #bbbbbb;
}

div#replybox {
    background-color:#eeeeee;
    color:#888888;
}

.tweettext a {
	color:#0099b9;
}

.metatext a {
	color:#0099b9;
}

div.colswitcherform a {
	color:#cccccc;
	border: 1px solid #cccccc;
}

a.button,
a.icon {
    color: #666666;
    text-shadow: 0 1px 0 #fff;
    background: #f0f0f0;
    background: -webkit-linear-gradient(top, #f7f7f7, #d1d1d1);
    background: -moz-linear-gradient(top, #f7f7f7, #d1d1d1);
    background: -ms-linear-gradient(top, #f7f7f7, #d1d1d1);
    background: -o-linear-gradient(top, #f7f7f7, #d1d1d1);
    border: solid 1px #7f7f7f;
}
a.button:hover,
a.icon:hover {
    border: solid 1px #333;
    color: #282828;
    background: -webkit-linear-gradient(top, #ffffff, #dfdfdf);
    background: -moz-linear-gradient(top, #ffffff, #dfdfdf);
    background: -ms-linear-gradient(top, #ffffff, #dfdfdf);
    background: -o-linear-gradient(top, #ffffff, #dfdfdf);
}
a.button:active,
a.icon:active {
    border: solid 1px #7f7f7f;
    background: #d0d0d0;
    background: -webkit-gradient(linear, left top, left bottom, from(#a8a8a8), color-stop(0.15, #c6c6c6), to(#d8d8d8));
    background: -webkit-linear-gradient(top, #a8a8a8, #c6c6c6 15%, #d8d8d8);
    background: -moz-linear-gradient(top, #a8a8a8, #c6c6c6 15%, #d8d8d8);
    background: -ms-linear-gradient(top, #a8a8a8, #c6c6c6 15%, #d8d8d8);
    background: -o-linear-gradient(top, #a8a8a8, #c6c6c6 15%, #d8d8d8);
}
a.pressed {
    border: solid 1px #7f7f7f;
    background: #d0d0d0;
    background: -webkit-gradient(linear, left top, left bottom, from(#a8a8a8), color-stop(0.15, #c6c6c6), to(#d8d8d8));
    background: -webkit-linear-gradient(top, #a8a8a8, #c6c6c6 15%, #d8d8d8);
    background: -moz-linear-gradient(top, #a8a8a8, #c6c6c6 15%, #d8d8d8);
    background: -ms-linear-gradient(top, #a8a8a8, #c6c6c6 15%, #d8d8d8);
    background: -o-linear-gradient(top, #a8a8a8, #c6c6c6 15%, #d8d8d8);
}

a.left {
    border-right: solid 1px #b0b0b0;
}
a.middle {
    border-left: solid 1px rgba(255, 255, 255, 0);
    border-right: solid 1px #b0b0b0;
}
a.middle:hover,
a.right:hover { border-left: solid 1px #333 }
a.middle:active,
a.right:active { border-left: solid 1px #7f7f7f }
a.right {
    border-left: solid 1px rgba(255, 255, 255, 0);
}

.jqifade{
	background-color: #aaaaaa; 
}
div.jqi{
	background: #cccccc;
    background: -moz-linear-gradient(top, #cccccc, #aaaaaa);
    background: -webkit-gradient(linear,
                left top, left bottom, from(#cccccc), to(#aaaaaa));
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#cccccc', EndColorStr='#aaaaaa', GradientType=0);
	border: solid 1px #888888;
}
div.jqi .jqimessage{ 
	color: #444444; 
}